* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
}

.top {
    color: black;
    width: 100vw;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    background-color: white;
    position: relative;
    z-index: 2;
    font-size: 12px;
}

.mid {
    width: 100vw;
    height: 70vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)),
                url('jaxMartPhone.png') no-repeat center top;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.bottom {
    display: block;
    text-align: center;
    padding: 20px;
}

.bottom p {
    padding-top: 3vh;
}

@media only screen and (min-width: 768px) {
    .mid {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)),
                    url('jaxMarrDesktop.png') no-repeat center bottom;
        background-size: cover;
    }

    .title {
        font-size: 3em;
    }

    .menu {
        font-size: 1.5em;
    }
}
